body {
    margin: auto;
}

.container {
    background: hsl(0, 0%, 95%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}



.main-section {
    margin-top: 20px;
    width: 60%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
}

.sedans {
    background: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    flex: 1 1 100px;
    padding: 20px 40px;
}

.suvs {
    background: hsl(184, 100%, 22%);
    flex: 1 1 100px;
    padding: 20px 40px;

}

.luxury {
    background: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    flex: 1 1 100px;
    padding: 20px 40px;
}

img {
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 2;

}

.btn-style {
    background: hsl(0, 0%, 95%);
    border-radius: 25px;
    border: none;
    padding: 12px 20px;
    background-repeat: no-repeat;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    mix-blend-mode: screen;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16px;
    margin-top: 60px;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 48px;


}

@media (max-width: 630px) {
    .sedans {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .luxury {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}